<h1>ログインページ</h1>
<%= err %>
<form action="/auth/login" method="POST">
  <label for="email">メールアドレス</label>
  <input type="text" name="email">
  <label for="password">パスワード</label>
  <input type="password" name="password">
  <input type="submit">
</form>