<h1>管理者トップページ</h1>

<h5>スタッフ管理</h5>
<ul>
  <li><a href="/admin/staffs">スタッフ一覧</a> <br></li>
  <li><a href="/admin/staffs/new">新規スタッフ登録</a></li>
</ul>

<h5>メニュー管理</h5>
<ul>
  <li><a href="">メニュー一覧</a><br></li>
  <li><a href="">新規メニュー登録</a><br></li>
</ul>

<h5>予約管理</h5>
<ul>
  <li><a href="">予約一覧表示</a><br></li>
  <li><a href="">新規予約作成</a><br></li>
</ul>