<h1>スタッフ選択画面</h1>

<% for (let i = 0; i < staffs.length; i++) { %>
  名前:<a href="/books/calendar?menu=<%= menuId %>&staff=<%= staffs[i]._id %>"><%= staffs[i].name.last + staffs[i].name.first %></a>
<% } %>