<h1>ホームページ</h1>
<br>
<h5>美容室店舗のwebサイトを再現しようとしたものです。</h2>
<hr>

<h5>ユーザー機能</h6>
<ul>
  <li>新規ユーザー登録</li>
  <li>ユーザーログイン/ログアウト</li>
  <li>新規予約</li>
  <li>予約のキャンセル</li>
  <li>過去の予約履歴確認</li>
</ul>
<hr>
<h5>管理者機能</h5>
<ul>
  <li>新規スタッフ登録</li>
  <li>スタッフ一覧表示</li>
  <li>新規スタッフ</li>
  <li>スタッフ編集</li>
  <li>新規メニュー登録</li>
  <li>メニュー編集</li>
  <li>メニュー削除</li>
  <li>全予約一覧表示</li>
  <li>新規予約登録</li>
  <li>予約削除</li>
</ul>